.wishlist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per column */
    grid-gap: 20px;
  }
  
  .wishlist {
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .wishlist-card {
    margin: auto;
  }
  
  .img-wish {
    object-fit: contain;
  }
  