.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

