

.size-u{
width: 300px;
}


.container-profile{
    margin: 30px 0;
    padding: 20px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button{
    display: flex;
    margin: 20px 0;
}


.mar{
    margin-right: 20px;
}
