* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #021e43;
  --color-hover: #b8cee3;
  --color-secundary: #00377a;
  --color-brands: #bf4800;
  --color-Grimmy: #777777;
  --color-wrapper: #f5f5f7;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: "Rubik", sans-serif !important;
}

a {
  text-decoration: none !important;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.text-color-white {
  color: white !important;
}

.error {
  color: red;
}

.Primary-btn {
  border: 2px solid #021e43 !important;
  color: #021e43 !important;
}

.Primary-btn:hover {
  background-color: #021e43 !important;
  color: white !important;
}

.subtotal .badge{
  width: 50px !important;
}

.signup-btn {
  background-color: #021e43 !important;
  color: white !important;
  font-size: 16px !important;
}

.signup-btn:hover {
  border: 2px solid #021e43 !important;
  color: #021e43 !important;
  background-color: white !important;
}

.btn-Forgot-pass {
  color: #00377a;
}

.btn-Forgot-pass:hover {
  color: #bf4800;
  cursor: pointer;
}



/* Home Page....................................................................................................... */
.home-wrapper-2 {
  background-color: var(--color-wrapper);
  padding-bottom: 40px;
}

/* categories section................................................................................................... */

.categories {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 0;
  padding: 10px;
  background-color: white;
}

.categories .items {
  border: 1px solid #bbbbbb42;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* categories section ends here */

/* Special Products........................................................................ */

.special-Product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}

/* Special Products End */

.Blog-card-items {
  margin: 5px;
}

.container-wrapper-famous {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  padding: 18px;
}

/* Home Page Ends */

/* BLog Part........................................................................................................................ */

/* .blog-card {
  background-color: white;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-contentp.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-Grimmy);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-main);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-Grimmy);
} */

/*  Blog Part ends here */

/* Policy Pages.......................................................................... */

.policy {
  background-color: white;
  padding: 30px;
}

/* Policy Pages  ends */


/* Shippping Page..................................................................................................................... */

.total {
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.total-price {
  font-size: 16px;
  color: var(--color-Grimmy);
}
/* Shipping page ends here */

.order-container {
  height: fit-content;
}

.container-cards {
  margin-right: 100px !important;
  justify-content: space-around !important;
  margin-bottom: 20px;
  background-color: #ffffff63;
  padding: 51px !important;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.img-blog-card {
  height: 300px !important;
}


.checkout-img{
  width: 90px;
  height: 100px;
}

.color{
  background-color: var(--color-secundary);
}

@media (max-width: 950px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ...................................................................... */
