* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #021e43;
  --color-hover: #b8cee3;
  --color-secundary: #00377a;
  --color-brands: #bf4800;
  --color-Grimmy: #777777;
  --color-wrapper: #f5f5f7;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: "Rubik", sans-serif !important;
}

a {
  text-decoration: none !important;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.text-color-white {
  color: white !important;
}

.error {
  color: red;
}

.Primary-btn {
  border: 2px solid #021e43 !important;
  color: #021e43 !important;
}

.Primary-btn:hover {
  background-color: #021e43 !important;
  color: white !important;
}

/* Header Part.............................................................................................................................. */

.nav-bar-container {
  background-color: var(--color-main);
}

.logo {
  font-family: "Oswald", sans-serif !important;
  text-transform: uppercase !important;
  color: rgb(255, 255, 255) !important;
  font-size: 30px !important;
  font-weight: 500;
}

.links-img {
  margin-right: 10px;
}

.nav-links {
  color: white !important;
  align-items: center;
  margin: 5px 10px;
}

.navbar-light .navbar-toggler {
  border: 2px rgba(255, 255, 255, 0.2) solid !important;
  height: 45px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath  stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggle {
  background-color: var(--color-main) !important;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(255, 255, 255, 1)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important;
}

.link-logo {
  text-transform: uppercase;
  margin-top: 6px;
}

.links-active:hover {
  color: var(--color-hover) !important;
}

.InputGroup {
  margin: 20px 15px;
}

header {
  background-color: var(--color-secundary);
}

header .nav-link {
  text-transform: uppercase;
}

.Dropdown-Toggle {
  background: transparent !important;
  border: none !important;
  padding: 10px !important;
  font-size: 17px !important;
  font-weight: 400 !important;
}

.dropdown button {
  text-transform: uppercase;
}

.dropdown button:focus {
  box-shadow: none !important;
}

.dropdown-item {
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075) !important;
  padding: 15px !important;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.dropdown-menu.show {
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
  background-color: var(--color-main);
}

/* Header Part End Here */

/* Footer Part.......................................................................................................... */

.footer-container {
  background-color: var(--color-main);
}

.link-footer {
  color: white;
}

.link-footer:hover {
  color: white;
}

/* Footer Part Ends Here */

/* Home Page....................................................................................................... */
.home-wrapper-2 {
  background-color: var(--color-wrapper);
  padding-bottom: 40px;
}

/* categories section................................................................................................... */

.categories {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 0;
  padding: 10px;
  background-color: white;
}

.categories .items {
  border: 1px solid #bbbbbb42;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* categories section ends here */

/* Special Products........................................................................ */

.special-Product {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
}

/* Special Products End */

.Blog-card-items {
  margin: 5px;
}

.container-wrapper-famous {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  padding: 18px;
}

/* Home Page Ends */

/* BLog Part........................................................................................................................ */

.blog-card {
  background-color: white;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}
.blog-contentp.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-Grimmy);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-main);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 22px;
  color: var(--color-Grimmy);
}
.single-blog-card a {
  font-size: 18px;
  color: var(--color-Grimmy);
  margin-bottom: 20px;
}
.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}
.single-blog-card p {
  color: var(--color-Grimmy);
  font-size: 14px;
}
/*  Blog Part ends here */

/* Product Card.............................................................................. */

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card .product-image > img:last-child {
  display: none;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:last-child {
  display: block;
}
.product-card:hover .action-bar {
  right: 15px;
}
.product-card .product-details h6 {
  color: var(--color-brands);
  font-size: 13px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card p.description {
  font-size: 13px;
  color: var(--color-Grimmy);
  margin-right: 20px;
}
.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}
/* Product Card ends here */

/* Our Store............................................................................................................................ */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-Grimmy);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}
.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}
.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}
.gr-12 .product-card .product-image {
  width: 270px;
}
.gr-12 .product-card .product-image {
  height: auto;
}
.gr-12 .action-bar {
  top: 17%;
}
/* Our store ends here */

/* Contact Page...................................................................................................... */

.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
  display: flex;
  justify-content: space-between;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-wrapper);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul {
  list-style: none;
}
.contact-inner-wrapper address,
.contact-inner-wrapper a,
.contact-inner-wrapper p {
  color: var(--color-Grimmy);
}

.contact-btn {
  width: 100% !important;
}

/* Contact Page ends */

/* Compare Product Page .....................................................................................................*/

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products per column */
  grid-gap: 20px;
}

.wishlist {
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.wishlist-card {
  margin: auto;
}

.img-wish {
  object-fit: contain;
}

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Compare Product Page end here */

/*  auth card................................................................................................................. */

.auth-card {
  padding: 20px 80px 60px 80px;
  background-color: white;
  max-width: 500px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.auth-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-Grimmy);
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-main);
}

.signup-btn {
  background-color: #021e43 !important;
  color: white !important;
  font-size: 16px !important;
}

.signup-btn:hover {
  border: 2px solid #021e43 !important;
  color: #021e43 !important;
  background-color: white !important;
}

.btn-Forgot-pass {
  color: #00377a;
}

.btn-Forgot-pass:hover {
  color: #bf4800;
  cursor: pointer;
}

/*  auth card  ends*/

/* Policy Pages.......................................................................... */

.policy {
  background-color: white;
  padding: 30px;
}

/* Policy Pages  ends */

/* Main Product Page....................................................................................... */

.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-Grimmy);
}

.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-Grimmy);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-Grimmy);
}
.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-Grimmy);
}

.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-image > div {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-image img {
  width: 100% !important;
  height: 600px !important;
  object-fit: cover;
}
.other-product-images {
  background-color: white;
  padding: 20px;
}
.other-product-images > div {
  padding: 10px;
  width: 15%;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.main-product-image .js-image-zoom__zoomed-image {
  left: 50px !important;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  z-index: 1000;
}
.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-product-details a.review-btn,
.t-review {
  color: var(--color-Grimmy);
  font-size: 13px;
}
.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}
.product-data {
  font-size: 13px;
  columns: var(--color-Grimmy);
  margin-bottom: 0px;
}
.main-product-details a {
  font-size: 14px;
  color: var(--color-Grimmy);
}

.img-product {
  cursor: pointer;
}

.img-container img {
  width: 200px;
  margin: 0px 23px;
  height: 200px;
}

/* Main Product Page */

/* Shippping Page..................................................................................................................... */

.total {
  font-size: 14px;
  color: var(--color-1c1c1b);
}
.total-price {
  font-size: 16px;
  color: var(--color-Grimmy);
}
/* Shipping page ends here */

.order-container {
  height: fit-content;
}

.container-cards {
  margin-right: 100px !important;
  justify-content: space-around !important;
  margin-bottom: 20px;
  background-color: #ffffff63;
  padding: 51px !important;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.img-blog-card {
  height: 300px !important;
}

@media (max-width: 950px) {
  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .blog-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ...................................................................... */
