:root {
  --color-main: #021e43;
  --color-3b4149: #3b4149;
  --color-hover: #b8cee3;
  --color-secundary: #00377a;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

/* Tablets en horizonal y escritorios normales */
@media (max-width: 1399px) {
  
  /* Header part.................................. */

  .nav-links {
    width: 100% !important;
    height: 80px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px !important;
  }

  .nav-links:focus {
    background-color: rgba(255, 255, 255, 0.76) !important;
  }

  .InputGroup {
    margin: auto;
    padding: 10px;
  }

  .logo-toggle {
    margin-left: 110px;
  }

  /* Header part End  */

  /* Footer part............................................................. */

  /* Footer part ends */

  /* Home part */

  /* Home part end */
}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 768px) {
  /* Footer part............................................................. */

  /* Footer part ends */
}

/* Móviles en vertical */
@media (max-width: 480px) {
}
